* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


#bgimg {
    background-image: url(https://images.unsplash.com/photo-1471922694854-ff1b63b20054?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#maindiv {
    background-color: rgb(44, 52, 63);
    height: 90%;
    width: 90%;
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 13%;
    width: 95%;
    background-color: rgb(119, 131, 159);
    border-radius: 60px;
    position: relative; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#usrimg {
    border-radius: 50%;
    height: 80%;
}

#searchdiv {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(171, 173, 175);
    height: 65px;
    width: 25%;
    border-radius: 100px;
}

#searchbox {
    height: 80%;
    width: 80%;
    background-color: rgb(171, 173, 175);
    font-size: 25px;
    outline: none;
    margin-left: 5%;
}

#searchbox::placeholder {
    color: rgb(16, 21, 23);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fa {
    color: rgb(16, 21, 23);
    font-size: 30px !important;
    margin-left: 10px;
    
}